<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modern Web : Personal Portfolio</title>

    <!-- CSS files -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">

</head>
<body>

    <!-- navbar -->

    <nav class="navbar">
        <h1 class="logo">Modern Web</h1>
        <ul class="nav-links-container">
            <li class="nav-link"><a href="#home-section" class="links active">home</a></li>
            <li class="nav-link"><a href="#project-section" class="links">projects</a></li>
            <li class="nav-link"><a href="#about-section" class="links">about</a></li>
            <li class="nav-link"><a href="#contact-section" class="links">contact</a></li>
        </ul>

        <!-- toggle btn -->
        <div class="toggle-btn">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </nav>

    <!-- header -->
    <header class="header" id="home-section">
        <div class="content">
            <h1 class="header-heading">Hey, I am <span class="brand-name">modern <span>web</span></span></h1>
            <a href="#" class="btn">Hire</a>
        </div>

        <div class="header-img-container">
            <div class="circle"></div>
            <img src="img/header-img.png" class="header-img" alt="">
        </div>
    </header>

    <!-- about section -->

    <section id="about-section">
        <h1 class="heading">about me</h1>
        <!-- about -->
        <div class="about-container">
            <div class="image-container">
                <div class="square"></div>
                <img src="img/about.png" class="about-img" alt="">
                <div class="social-links">
                    <a href="#"><img src="img/github.png" class="social-img" alt=""></a>
                    <a href="#"><img src="img/insta.png" class="social-img" alt=""></a>
                    <a href="#"><img src="img/fb.png" class="social-img" alt=""></a>
                    <a href="#"><img src="img/twitter.png" class="social-img" alt=""></a>
                    <a href="#"><img src="img/linked.png" class="social-img" alt=""></a>
                </div>
            </div>

            <!-- info part -->
            <div class="info">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae voluptate a magni aut expedita, aliquid, eveniet recusandae mollitia explicabo consequatur dignissimos quidem atque quas dicta eligendi odio iusto fuga reiciendis. Labore maxime dignissimos provident saepe veniam ullam at laboriosam culpa enim. Unde laborum enim, nulla fugiat officiis atque. Ducimus consectetur voluptas praesentium rerum facere recusandae blanditiis necessitatibus repellat ullam vitae reprehenderit harum ex ipsam enim molestias voluptatibus illum repellendus animi doloribus minus, tempora atque? Excepturi vel consectetur facere consequuntur atque reprehenderit quis tempore fugit voluptates iusto aliquid ad dignissimos, alias ut, soluta similique praesentium non cum quidem laborum enim debitis.</p>
                <a href="#" class="btn">hire me</a>
                <a href="#" class="btn">download CV</a>
            </div>
        </div>
        
        <!-- skills part -->
        <h2 class="sub-heading">skills</h2>

        <div class="skills">
            <p class="skill-name">HTML</p>
            <p class="skill-name">CSS</p>
            <p class="skill-name">JavaScript</p>
            <p class="skill-name">React.js</p>
            <p class="skill-name">Node.js</p>
            <p class="skill-name">PSQL</p>
            <p class="skill-name">MongoDB</p>
            <p class="skill-name">Firebase</p>
            <p class="skill-name">Fullstack Development</p>
            <p class="skill-name">Frontend Development</p>
            <p class="skill-name">APIs</p>
            <p class="skill-name">React Native</p>
            <p class="skill-name">More</p>
        </div>

        <!-- time line -->

        <h2 class="sub-heading">education and experiences</h2>

        <div class="timeline-container">
            <div class="card-container">
                <div class="card">
                    <h1 class="card-title">2000 - 2002</h1>
                    <p class="card-body">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam, rerum obcaecati. Fuga officiis at libero dolore. Necessitatibus numquam ipsum rem?</p>
                </div>
            </div>
            <div class="card-container">
                <div class="card">
                    <h1 class="card-title">2002 - 2004</h1>
                    <p class="card-body">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam, rerum obcaecati. Fuga officiis at libero dolore. Necessitatibus numquam ipsum rem?</p>
                </div>
            </div>
            <div class="card-container">
                <div class="card">
                    <h1 class="card-title">2004 - 2006</h1>
                    <p class="card-body">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam, rerum obcaecati. Fuga officiis at libero dolore. Necessitatibus numquam ipsum rem?</p>
                </div>
            </div>
            <div class="card-container">
                <div class="card">
                    <h1 class="card-title">2006 - 2008</h1>
                    <p class="card-body">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam, rerum obcaecati. Fuga officiis at libero dolore. Necessitatibus numquam ipsum rem?</p>
                </div>
            </div>
            <div class="card-container">
                <div class="card">
                    <h1 class="card-title">2008 - 2010</h1>
                    <p class="card-body">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam, rerum obcaecati. Fuga officiis at libero dolore. Necessitatibus numquam ipsum rem?</p>
                </div>
            </div>
        </div>

    </section>

    <!-- project section -->

    <section id="project-section">
        <h1 class="heading">Projects</h1>

        <div class="filter">
            <button class="btn filter-btn active">all</button>
            <button class="btn filter-btn">css</button>
            <button class="btn filter-btn">javascript</button>
            <button class="btn filter-btn">fullstack</button>
        </div>

        <!--  project cards -->

        <div class="project-container">
            <!-- <div class="project-card">
                <div class="project-wrapper">
                    <div class="project-thumbnail">
                        <img src="img/close.png" class="close-btn" alt="">
                        <img src="img/project-1.png" class="project-img" alt="">
                        <span class="tags">#javascript, #css, #fullstack</span>
                    </div>

                    <div class="project-body">
                        <h1 class="project-name">project 1</h1>
                        <p class="project-detail">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla eum et veniam eos ratione accusantium aut, accusamus deserunt quis dolores.</p>
                        <a href="#" class="btn">github</a>
                        <a href="#" class="btn">see live</a>
                    </div>
                </div>
            </div> -->
        </div>
    </section>

    <!-- contact section -->

    <section id="contact-section">
        <h1 class="heading">contact</h1>
        <div class="form">
            <input type="text" placeholder="name">
            <input type="email" placeholder="email">
            <input type="text" placeholder="subject">
            <textarea placeholder="message"></textarea>
            <button class="contact-btn">contact</button>
        </div>
    </section>

    <script src="./project.js"></script>
    <script src="./app.js"></script>
    
</body>
</html>